{% extends 'base_modal.html' %}
{% load crispy_forms_tags %}
{% block tilte_modal %}Actualizar Parte{% endblock tilte_modal %}

{% block body_modal %}
<form method="POST" action="" onsubmit="return update_url_parte (this)" class="">{% csrf_token %}
  <div class="form-group">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-primary">Actualizar</button>
  </div>
</form>
{% endblock body_modal %}

{% block success_ur %}
window.location.href
{% endblock success_ur %}
