<tr class="clickable-row">
  <td>{{ object.id }}</td>
  <td>{{ object.parte }}</td>
  <td>{{ object.grupo_parte }}</td>
  <td>{{ object.w14 }}</td>
  <td>{{ object.w15 }}</td>
  <td>{{ object.w16 }}</td>
  <td>{{ object.w17 }}</td>
  <td>{{ object.w18 }}</td>
  <td>{{ object.w19 }}</td>
  <td>{{ object.w20 }}</td>
  <td>{{ object.w21 }}</td>
  <td>{{ object.w22 }}</td>
  <td>{{ object.w23 }}</td>
  <td>{{ object.w24 }}</td>
  <td>{{ object.w25 }}</td>
  <td>{{ object.w26 }}</td>
  <td>{{ object.w27 }}</td>
  <td>{{ object.w28 }}</td>
  <td>{{ object.w29 }}</td>
  <td>{{ object.w30 }}</td>
  <td>{{ object.w31 }}</td>
  <td>{{ object.w32 }}</td>
  <td>{{ object.w33 }}</td>
  <td>{{ object.w34 }}</td>
  <td>{{ object.w35 }}</td>
  <td>{{ object.w36 }}</td>
  <td>{{ object.w37 }}</td>
  <td>{{ object.w38 }}</td>
  <td>{{ object.w39 }}</td>
  <td>{{ object.w40 }}</td>
  <td>{{ object.w41 }}</td>
  <td>{{ object.w42 }}</td>
  <td>{{ object.w43 }}</td>
  <td>{{ object.w44 }}</td>
  <td>{{ object.w45 }}</td>
  <td>{{ object.w46 }}</td>
  <td>{{ object.w47 }}</td>
  <td>{{ object.w48 }}</td>
  <td>{{ object.w49 }}</td>
  <td>{{ object.w50 }}</td>
  <td>{{ object.w51 }}</td>
  <td>{{ object.w52 }}</td>
</tr>
