{% extends 'base.html' %}
{% load static %}
{% load filter_tags %}
{% block title %}Llegadas{% endblock title %}

{% block navbar %}
{% include 'dashboard/includes/partials/navbar.html' %}
{% endblock navbar %}

{% block sidebar %}
{% include 'dashboard/includes/partials/sidebar.html' %}
{% endblock sidebar %}

{% block content_dashboard %}

<main role="main" class="">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-2 border-bottom">
    <h2 class="text-dark">Llegadas</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary" onclick="return create_llegada('{% url 'llegadas:create_llegada' %}')">
          <span data-feather="plus"></span>
          Crear
        </button>
        <button class="btn btn-sm btn-outline-secondary disabled" id="update" onclick="return update_llegada(url_update)">
          <span data-feather="edit"></span>
          Actualizar
        </button>
        <button class="btn btn-sm btn-outline-secondary disabled" id="delete" onclick="return delete_llegada(url_delete)">
          <span data-feather="trash"></span>
          Borrar
        </button>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'llegadas:export_llegada' %}?{{query_dict|get_encoded_dict}}">
          <span data-feather="download"></span>
          Exportar
        </a>
      </div>
      <div class="btn-group" role="group">
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle mr-2  disabled" id="action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span data-feather="play"></span>
          Accion
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">link</a>
          <a class="dropdown-item" href="#">link</a>
        </div>
      </div>

      <div class="btn-group" role="group">
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span data-feather="calendar"></span>
          Hoy
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">link</a>
          <a class="dropdown-item" href="#">link</a>
        </div>
      </div>

    </div>
  </div>
  <div class="d-flex justify-content-end flex-wrap flex-md-nowrap align-items-center">
    {% if result %}
    Se encontraron {{ result }} de  {{ all_items }} items
    {% else %}
    {% endif %}
    <a class="nav-link btn btn-light btn-sm ml-3" href="#" id="filter-toggle"><span data-feather="menu"></span> Filtrar</a>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm" id="table_llegada">
      <thead>
        {% include 'llegada/includes/partials/head_llegada.html' %}
      </thead>
      <tbody>
        {% for object in object_list %}
          {% include 'llegada/includes/partials/body_llegada.html' %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
<div class="row border-bottom d-flex justify-content-end align-items-center mr-2">
    {% include 'dashboard/includes/partials/nav_paginate.html' %}
</div>


<div class="modal fade" id="create_llegada" tabindex="-1" role="dialog" aria-hidden="true">

</div>

<div class="modal fade" id="update_llegada" tabindex="-1" role="dialog" aria-hidden="true">

</div>
{% endblock content_dashboard %}

{% block filter %}
{% include 'dashboard/includes/partials/filter.html' %}
{% endblock filter %}
