django==2.2.10
gunicorn==19.9.0
psycopg2-binary==2.7.5
django-crispy-forms==1.7.2
django-import-export==1.0.1
mysqlclient==1.3.13
google-cloud-storage==1.10.0
django-storages==1.6.6
django-sendgrid-v5==0.6.893
celery==4.2.1
redis==2.10.6
git+https://github.com/Supervisor/supervisor
openpyxl==2.4.9
git+https://github.com/modlinltd/django-advanced-filters
django-braces==1.13.0