<tr>
    <td><input type="checkbox" class="checkeable-row"></td>
    <td><a href="{% url 'asignaciones:detail_estado_antena' object.id %}">{{ object.id }}</a></td>
    <td>{{ object.numero_po }}</td>
    <td>{{ object.site_name }}</td>
    <td>{{ object.parte }}</td>
    <td>{{ object.cantiad_estimada }}</td>
    <td>{{ object.grupo }}</td>
    <td>{{ object.marca }}</td>
    <td>{{ object.fc_salida }}</td>
    <td>{{ object.estado }}</td>
    <td>{{ object.familia }}</td>
    <td>{{ object.categoria }}</td>
    <td>{{ object.impacto }}</td>
    <td>{{ object.reserva }}</td>
    <td>{{ object.estado_tss }}</td>
    <td>{{ object.estado_antena }}</td>
</tr>