{% extends 'base_modal.html' %}
{% load crispy_forms_tags %}
{% block tilte_modal %}Registrarse{% endblock tilte_modal %}

{% block body_modal %}
<form method="POST" action="{% url 'users:signin' %}" class="">{% csrf_token %}
  <div class="form-group">
    {{ form|crispy }}
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Registrarse</button>
    </div>
  </div>
</form>
{% endblock body_modal %}

{% block success_ur %}
window.location.href
{% endblock success_ur %}
