<tr>
  <th>id</th>
  <th>parte</th>
  <th>grupo_parte</th>
  <th>w14</th>
  <th>w15</th>
  <th>w16</th>
  <th>w17</th>
  <th>w18</th>
  <th>w19</th>
  <th>w20</th>
  <th>w21</th>
  <th>w22</th>
  <th>w23</th>
  <th>w24</th>
  <th>w25</th>
  <th>w26</th>
  <th>w27</th>
  <th>w28</th>
  <th>w29</th>
  <th>w30</th>
  <th>w31</th>
  <th>w32</th>
  <th>w33</th>
  <th>w34</th>
  <th>w35</th>
  <th>w36</th>
  <th>w37</th>
  <th>w38</th>
  <th>w39</th>
  <th>w40</th>
  <th>w41</th>
  <th>w42</th>
  <th>w43</th>
  <th>w44</th>
  <th>w45</th>
  <th>w46</th>
  <th>w47</th>
  <th>w48</th>
  <th>w49</th>
  <th>w50</th>
  <th>w51</th>
  <th>w52</th>
</tr>
