<tr class="clickable-row">
  {% if object.parte.grupo_familia is not None %}
  <td>{{ object.parte.grupo_familia }}</td>
  {% else%}
  <td>{{ object.parte }}</td>
  {% endif %}
  <td>{{ object.parte }}</td>
  <td>{{ object.grupo_parte }}</td>
  {% if 14 >= week %}
  <td>{{ object.w14 }}</td>
  {% endif %}
  {% if 15 >= week %}
  <td>{{ object.w15 }}</td>
  {% endif %}
  {% if 16 >= week %}
  <td>{{ object.w16 }}</td>
  {% endif %}
  {% if 17 >= week %}
  <td>{{ object.w17 }}</td>
  {% endif %}
  {% if 18 >= week %}
  <td>{{ object.w18 }}</td>
  {% endif %}
  {% if 19 >= week %}
  <td>{{ object.w19 }}</td>
  {% endif %}
  {% if 20 >= week %}
  <td>{{ object.w20 }}</td>
  {% endif %}
  {% if 21 >= week %}
  <td>{{ object.w21 }}</td>
  {% endif %}
  {% if 22 >= week %}
  <td>{{ object.w22 }}</td>
  {% endif %}
  {% if 23 >= week %}
  <td>{{ object.w23 }}</td>
  {% endif %}
  {% if 24 >= week %}
  <td>{{ object.w24 }}</td>
  {% endif %}
  {% if 25 >= week %}
  <td>{{ object.w25 }}</td>
  {% endif %}
  {% if 26 >= week %}
  <td>{{ object.w26 }}</td>
  {% endif %}
  {% if 27 >= week %}
  <td>{{ object.w27 }}</td>
  {% endif %}
  {% if 28 >= week %}
  <td>{{ object.w28 }}</td>
  {% endif %}
  {% if 29 >= week %}
  <td>{{ object.w29 }}</td>
  {% endif %}
  {% if 30 >= week %}
  <td>{{ object.w30 }}</td>
  {% endif %}
  {% if 31 >= week %}
  <td>{{ object.w31 }}</td>
  {% endif %}
  {% if 32 >= week %}
  <td>{{ object.w32 }}</td>
  {% endif %}
  {% if 33 >= week %}
  <td>{{ object.w33 }}</td>
  {% endif %}
  {% if 34 >= week %}
  <td>{{ object.w34 }}</td>
  {% endif %}
  {% if 35 >= week %}
  <td>{{ object.w35 }}</td>
  {% endif %}
  {% if 36 >= week %}
  <td>{{ object.w36 }}</td>
  {% endif %}
  {% if 37 >= week %}
  <td>{{ object.w37 }}</td>
  {% endif %}
  {% if 38 >= week %}
  <td>{{ object.w38 }}</td>
  {% endif %}
  {% if 39 >= week %}
  <td>{{ object.w39 }}</td>
  {% endif %}
  {% if 40 >= week %}
  <td>{{ object.w40 }}</td>
  {% endif %}
  {% if 41 >= week %}
  <td>{{ object.w41 }}</td>
  {% endif %}
  {% if 42 >= week %}
  <td>{{ object.w42 }}</td>
  {% endif %}
  {% if 43 >= week %}
  <td>{{ object.w43 }}</td>
  {% endif %}
  {% if 44 >= week %}
  <td>{{ object.w44 }}</td>
  {% endif %}
  {% if 45 >= week %}
  <td>{{ object.w45 }}</td>
  {% endif %}
  {% if 46 >= week %}
  <td>{{ object.w46 }}</td>
  {% endif %}
  {% if 47 >= week %}
  <td>{{ object.w47 }}</td>
  {% endif %}
  {% if 48 >= week %}
  <td>{{ object.w48 }}</td>
  {% endif %}
  {% if 49 >= week %}
  <td>{{ object.w49 }}</td>
  {% endif %}
  {% if 50 >= week %}
  <td>{{ object.w50 }}</td>
  {% endif %}
  {% if 51 >= week %}
  <td>{{ object.w51 }}</td>
  {% endif %}
  {% if 52 >= week %}
  <td>{{ object.w52 }}</td>
  {% endif %}
</tr>
