<tr>
    <td><input type="checkbox" class="checkeable-row"></td>
    <td><a href="{% url 'adicionales:detail_adicional' object.idadicionales_hw_sv %}">{{ object.idadicionales_hw_sv }}</a></td>
    <td>{{ object.wp }}</td>
    <td>{{ object.siteName }}</td>
    <td>{{ object.proyecto }}</td>
    <td>{{ object.banda }}</td>
    <td>{{ object.escenario }}</td>
    <td>{{ object.tipo }}</td>
    <td>{{ object.seccion }}</td>
    <td>{{ object.parte }}</td>
    <td>{{ object.cantidad }}</td>
    <td>{{ object.proceso }}</td>
    <td>{{ object.observaciones }}</td>
    <td>{{ object.fecha_pedido }}</td>
    <td>{{ object.usuario }}</td>
    <td>{{ object.id }}</td>

    <td>{{ object.recibido }}</td>
    <td>{{ object.fecha_recibido }}</td>
    <td>{{ object.responsable }}</td>
    <td>{{ object.asignado }}</td>
    <td>{{ object.fecha_asignado }}</td>
    <td>{{ object.comentario }}</td>
</tr>