<tr>
    <th><input type="checkbox" disabled></th>
    <th>idadicionales_hw_sv</th>
    <th>wp</th>
    <th>siteName</th>
    <th>proyecto</th>
    <th>banda</th>
    <th>escenario</th>
    <th>tipo</th>
    <th>seccion</th>
    <th>parte</th>
    <th>cantidad</th>
    <th>proceso</th>
    <th>observaciones</th>
    <th>fecha_pedido</th>
    <th>usuario</th>
    <th>id</th>

    <th>recibido</th>
    <th>fecha_recibido</th>
    <th>responsable</th>
    <th>asignado</th>
    <th>fecha_asignado</th>
    <th>comentario</th>
</tr>