{% extends 'base_modal.html' %}
{% load crispy_forms_tags %}
{% block tilte_modal %}Borrar Po Zina{% endblock tilte_modal %}

{% block body_modal %}
<form method="POST" action="" onsubmit="return delete_url_estado_po (this)" class="">{% csrf_token %}
  <div class="form-group">
    <p>Estas seguro que quiers borrar "{{ object }}"?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-primary">Borrar</button>
  </div>
</form>
{% endblock body_modal %}

{% block success_url %}
window.location.href
{% endblock success_url %}