{% extends 'base_modal.html' %}
{% load crispy_forms_tags %}
{% block tilte_modal %}Crear Bitacora Estacion{% endblock tilte_modal %}

{% block body_modal %}
<label for="estacion">Buscar Estacion</label>
<input type="text" class="form-control" name="estacion" id="buscar" placeholder="Nombre Estacion">
<form method="POST" action="{% url 'estaciones:create_bitacora_estacion' %}" class="">{% csrf_token %}
  <div class="form-group">
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-primary">Crear</button>
  </div>
</form>
{% endblock body_modal %}

{% block success_url %}
window.location.href
{% endblock success_url %}
