{% extends 'base.html' %}
{% load static %}
{% block title %}Consultas{% endblock title %}

{% block navbar %}
{% include 'dashboard/includes/partials/navbar.html' %}
{% endblock navbar %}

{% block sidebar %}
{% include 'dashboard/includes/partials/sidebar.html' %}
{% endblock sidebar %}

{% block content_dashboard %}

<main role="main" class="">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-2 border-bottom">
    <h2 class="text-dark">Consultas</h2>
  </div>

{{ object.data }}

<table id="table">
    <thead>
        <tr>
            <th data-field="id">Item ID</th>
            <th data-field="nombre">Item Name</th>
            <th data-field="descripcion">Item Price</th>
        </tr>
    </thead>
</table>
  
</main>

{% endblock content_dashboard %}