{% extends 'base.html' %}
{% load static %}
{% block title %}Consultas{% endblock title %}

{% block navbar %}
{% include 'dashboard/includes/partials/navbar.html' %}
{% endblock navbar %}

{% block sidebar %}
{% include 'dashboard/includes/partials/sidebar.html' %}
{% endblock sidebar %}

{% block content_dashboard %}

<main role="main" class="">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-2 border-bottom">
    <h2 class="text-dark">Consultas</h2>
  </div>
<table id="table_consulta" class="table table-striped table-sm" width="100%"></table>
</main>

{% endblock content_dashboard %}

{% block extra_js %}
<script>
var objectData = '{{ object.data }}';
console.log('objectData', objectData.replace(/(&quot\;)/g,"\""))
var data = JSON.parse(objectData.replace(/(&quot\;)/g,"\""));
console.log('data', data)
var columns = []
$.each(data[0] , function(key, value) {
    columns.push(key);
}); 
columnsData = []
columns.forEach(element => {
    columnsData.push({ "mData": element })
})
columnsDataDef = []
var i= 0;
columns.forEach(element => {
    columnsDataDef.push({ "sTitle": element, "aTargets": [i] });
    i++
})
$('#table_consulta').DataTable({
    dom: 'Bfrtip',
    "scrollX": true,
    buttons: [
    'pageLength',
    'colvis',
    'excelHtml5',
    ],
    "aaData": data,
    "aoColumns":columnsData,
    'aoColumnDefs': columnsDataDef,
});
</script>
{% endblock extra_js %}