<tr class="clickable-row">
  <td>{{ object.id }}</td>
  <td>{{ object.estacion }}</td>
  <td>{{ object.estacion.region}}</td>
  <td>{{ object.estacion.bolsa }}</td>
  <td>{{ object.estacion.comunidades }}</td>
  <td>{{ object.estacion.satelital }}</td>
  <td>{{ object.estacion.w_fc_imp }}</td>
  <td>{{ object.estacion.w_fc_sal }}</td>
  <td>{{ object.estacion.mos }}</td>
  {% if object.proyeccion %}
  <td>{{ object.proyeccion.proyecto}}</td>
  <td>{{ object.proyeccion.escenario}}</td>
  <td>{{ object.proyeccion.banda }}</td>
  <td>{{ object.proyeccion.agrupadores }}</td>
  <td>{{ object.proyeccion.rfe }}</td>
  <td>{{ object.proyeccion.estado_proyeccion }}</td>
  <td>{{ object.proyeccion.cantidad_estimada }}</td>
  {% else %}
  <td>{{ object.proyeccion_extra.proyecto}}</td>
  <td>{{ object.proyeccion_extra.escenario}}</td>
  <td>{{ object.proyeccion_extra.banda }}</td>
  <td>{{ object.proyeccion_extra.agrupadores }}</td>
  <td>{{ object.proyeccion_extra.rfe }}</td>
  <td>{{ object.proyeccion_extra.estado_proyeccion }}</td>
  <td>{{ object.proyeccion_extra.cantidad_estimada }}</td>
  {% endif%}
  <td>{{ object.parte }}</td>
  <td>{{ object.parte.grupo_parte}}</td>
  <td>{{ object.lsm }}</td>
  <td>{{ object.calculo_hw }}</td>
  <td>{{ object.impactar }}</td>
  <td>{{ object.cambiar_impactar }}</td>
</tr>
