<tr>
    <td><input type="checkbox" class="checkeable-row"></td>
    <td><a href="{% url 'asignaciones:detail_estado_po' object.id %}">{{ object.id }}</a></td>
    <td>{{ object.numero_po }}</td>
    <td>{{ object.estacion }}</td>
    <td>{{ object.project }}</td>
    <td>{{ object.bts }}</td>
    <td>{{ object.bts_status }}</td>
    <td>{{ object.bts_arrival_week }}</td>
    <td>{{ object.jumper }}</td>
    <td>{{ object.jumper_status }}</td>
    <td>{{ object.jumper_arrival_week }}</td>
    <td>{{ object.fxcb_bts }}</td>
    <td>{{ object.fxcb_status }}</td>
    <td>{{ object.customs_ceared }}</td>
    <td>{{ object.sr }}</td>
    <td>{{ object.awb }}</td>
    <td>{{ object.eta }}</td>
    <td>{{ object.delivery }}</td>
    <td>{{ object.pre_pgi }}</td>
    <td>{{ object.fc_impl }}</td>
    <td>{{ object.fxcb_qty }}</td>
    <td>{{ object.annotation }}</td>
    <td>{{ object.comprometido }}</td>
    <td>{{ object.sdare }}</td>
    <td>{{ object.w_reviewed }}</td>
    <td>{{ object.columna_924 }}</td>
</tr>