<tr>
    <td><input type="checkbox" class="checkeable-row"></td>
    <td><a href="{% url 'asignaciones:detail_estado_po' object.id %}">{{ object.id }}</a></td>
    <th>{{ object.numero_po }}</th>
    <th>{{ object.estacion }}</th>
    <th>{{ object.project }}</th>
    <th>{{ object.bts }}</th>
    <th>{{ object.bts_status }}</th>
    <th>{{ object.bts_arrival_week }}</th>
    <th>{{ object.jumper }}</th>
    <th>{{ object.jumper_status }}</th>
    <th>{{ object.jumper_arrival_week }}</th>
    <th>{{ object.fxcb_bts }}</th>
    <th>{{ object.fxcb_status }}</th>
    <th>{{ object.customs_ceared }}</th>
    <th>{{ object.sr }}</th>
    <th>{{ object.awb }}</th>
    <th>{{ object.eta }}</th>
    <th>{{ object.delivery }}</th>
    <th>{{ object.pre_pgi }}</th>
    <th>{{ object.fc_impl }}</th>
    <th>{{ object.fxcb_qty }}</th>
    <th>{{ object.annotation }}</th>
    <th>{{ object.comprometido }}</th>
    <th>{{ object.share }}</th>
    <th>{{ object.w_reviewed }}</th>
    <th>{{ object.columna_924 }}</th>
</tr>