<tr>
    <th><input type="checkbox" disabled></th>
    <th>id</th>
    <th>numero_po</th>
    <th>estacion</th>
    <th>project</th>
    <th>bts</th>
    <th>bts_status</th>
    <th>bts_arrival_week</th>
    <th>jumper</th>
    <th>jumper_status</th>
    <th>jumper_arrival_week</th>
    <th>fxcb</th>
    <th>fxcb_status</th>
    <th>customs_ceared</th>
    <th>sr</th>
    <th>awb</th>
    <th>eta</th>
    <th>delivery</th>
    <th>pre_pgi</th>
    <th>fc_impl</th>
    <th>fxcb_qty</th>
    <th>annotation</th>
    <th>comprometido</th>
    <th>share</th>
    <th>w_reviewed</th>
    <th>columna_924</th>
</tr>