{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}

{% block navbar %}
{% include 'dashboard/includes/partials/navbar.html' %}
{% endblock navbar %}

{% block sidebar %}
{% include 'dashboard/includes/partials/sidebar.html' %}
{% endblock sidebar %}

{% block content_dashboard %}

<main role="main" class="">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-2 border-bottom">
    <h2 class="text-dark">Dashboard</h2>
  </div>
  <div class="row mb-4">
    <div class="col-md-3">
      <div class="card bg-dark">
        <div class="card-body">
          <h6 class="align-items-center d-flex justify-content-between text-success"><span data-feather="calendar"></span>Calendar</h6>
          <h3 class="text-light">Semana {{ week }}</h3>
          <form class="form-inline" action="{% url 'dashboard:dashboard' %}" method="get" id="week">
            <div class="form-group mb-3">
              <label for="week" class='text-light'>Selecciona Semana</label>
              <div class="col-sm-1">
                <select class="form-control form-control-sm" name="week">
                  <option>{{week}}</option>
                  {% for week in weeks %}
                  <option>{{ week }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-dark">
        <div class="card-body">
          <h6 class="align-items-center d-flex justify-content-between text-success"><span data-feather="clipboard"></span>Cronograma Fc Imp</h6>
          <h2 class="text-light">Estaciones</h2>
          <h2 class="text-light">{{ estaciones_fc_imp }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-dark">
        <div class="card-body">
          <h6 class="align-items-center d-flex justify-content-between text-warning"><span data-feather="clipboard"></span>Impactos Fc Imp</h6>
          <h2 class="text-light">Estaciones</h2>
          <h2 class="text-light">{{ impactos_fc_imp }}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-dark">
        <div class="card-body">
          <h6 class="align-items-center d-flex justify-content-between text-info"><span data-feather="clipboard"></span>Estaciones Completas</h6>
          <h2 class="text-light">Estaciones</h2>
          <h2 class="text-light">{{ estaciones_impactos_fc_imp }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card bg-light">
        <div class="card-body">
          <h6 class="align-items-center d-flex justify-content-between text-warning"><span data-feather="clipboard"></span>Mod-Acc</h6>
          <h2 class="text-muted">Estaciones</h2>
          <h2 class="text-muted">{{impactos_modulo_accesorio}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-light">
        <div class="card-body">
          <h6 class="align-items-center d-flex justify-content-between text-info"><span data-feather="clipboard"></span>Ant</h6>
          <h2 class="text-muted">Estaciones</h2>
          <h2 class="text-muted">{{impactos_antena}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-light">
        <div class="card-body">
          <h6 class="align-items-center d-flex justify-content-between text-danger"><span data-feather="clipboard"></span>Mod-Acc-Ant</h6>
          <h2 class="text-muted">Estaciones</h2>
          <h2 class="text-muted">{{impactos_modulo_accesorio_antena}}</h2>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card bg-light">
        <div class="card-body">
          <h6 class="align-items-center d-flex justify-content-between text-danger"><span data-feather="clipboard"></span>Proxima Semana</h6>
          <h2 class="text-muted">Estaciones</h2>
          <h2 class="text-muted">{{ estaciones_next_week_fc_imp }}</h2>
        </div>
      </div>
    </div>
  </div>
  <canvas class="my-4 w-100" id="impactos" width="900" height="380"></canvas>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="w_fc_impacto">Selecciona FC</label>
        <select class="form-control form-control-sm" name="w_fc" id="w_fc_impacto">
          <option>w_fc_imp</option>
          <option>w_fc_sal</option>
        </select>
      </div>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
  <canvas class="my-4 w-100" id="cronogramaBolsas" width="900" height="380"></canvas>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="w_fc_cronograma_bolsa">Selecciona FC</label>
        <select class="form-control form-control-sm" name="w_fc" id="w_fc_cronograma_bolsa">
          <option>w_fc_imp</option>
          <option>w_fc_sal</option>
        </select>
      </div>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
  <canvas class="my-4 w-100" id="cronogramaStatusNokia" width="900" height="380"></canvas>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="w_fc_cronograma_status_nokia">Selecciona FC</label>
        <select class="form-control form-control-sm" name="w_fc" id="w_fc_cronograma_status_nokia">
          <option>w_fc_imp</option>
          <option>w_fc_sal</option>
        </select>
      </div>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
  <canvas class="my-4 w-100" id="impactosGrupoParte" width="900" height="380"></canvas>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="w_fc_grupo_parte">Selecciona FC</label>
        <select class="form-control form-control-sm" name="w_fc" id="w_fc_grupo_parte">
          <option>w_fc_imp</option>
          <option>w_fc_sal</option>
        </select>
      </div>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
  <canvas class="my-4 w-100" id="ImpactosParte" width="900" height="380"></canvas>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="accesorio">Selecciona Parte Accesorio</label>
        <select class="form-control form-control-sm" name="parte" id="accesorio">
          <option>---------</option>
          {% for accesorio in accesorios %}
          <option>{{ accesorio.parte_nokia }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="modulo">Selecciona Parte Modulo</label>
        <select class="form-control form-control-sm" name="parte" id="modulo">
          <option>---------</option>
          {% for modulo in modulos %}
          <option>{{ modulo.parte_nokia }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="antenas">Selecciona Parte Antena y Otros</label>
        <select class="form-control form-control-sm" name="parte" id="antena">
          <option>---------</option>
          {% for antena in antenas %}
          <option>{{ antena.parte_nokia }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
</main>

  <!-- <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Estaciones
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Partes
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          Proyecciones
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
</main> -->

{% endblock content_dashboard %}

{% block extra_js %}
<script src="{% static 'dashboard/js/charts.js' %}"></script>
{% endblock extra_js %}
