{% extends 'base.html' %}
{% load static %}
{% block title %}Tareas{% endblock title %}

{% block navbar %}
{% include 'dashboard/includes/partials/navbar.html' %}
{% endblock navbar %}

{% block sidebar %}
{% include 'dashboard/includes/partials/sidebar.html' %}
{% endblock sidebar %}

{% block content_dashboard %}

<main role="main" class="">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 mt-2 border-bottom">
    <h2 class="text-dark">Tareas</h2>
  </div>

  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">Crear Formato Estacion
        <a href="{% url 'formatos:create_formato_estacion' %}" class="btn btn-outline-info btn-sm">Ejecutar</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Crear Formato Parte
        <a href="{% url 'formatos:create_formato_parte' %}" class="btn btn-outline-info btn-sm">Ejecutar</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Crear Formato Claro Total
        <a href="{% url 'formatos:create_formato_claro_total' %}#" class="btn btn-outline-info btn-sm">Ejecutar</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Crear Formato Claro Kit
        <a href="{% url 'formatos:create_formato_claro_kit' %}" class="btn btn-outline-info btn-sm">Ejecutar</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">Test Email
        <a href="{% url 'rastreos:testemail' %}" class="btn btn-outline-info btn-sm">Ejecutar</a>
    </li>
  </ul>
  
</main>

{% endblock content_dashboard %}