{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}NI Hardware{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static 'vendor/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}"/>
    <link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}"/>
    <link rel="stylesheet" href="{% static 'estaciones/css/estaciones.css' %}"/>
    <link rel="stylesheet" href="{% static 'partes/css/partes.css' %}"/>
    <link rel="stylesheet" href="{% static 'proyecciones/css/proyecciones.css' %}"/>
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body>
    {% block navbar %}
    {% endblock navbar %}

    {% block sidebar %}
    {% endblock sidebar %}

    <div class="container-fluid content_dashboard" id="dashboard">
      <div class="row">
        <div class="col">
          {% block content_dashboard %}
          {% endblock content_dashboard %}
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row" style="overflow-x: auto;">
        <div class="col">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          {% block content_left %}
          {% endblock content_left %}
        </div>
        <div class="col-md-4">
          {% block content_center %}
          {% endblock content_center %}
        </div>
        <div class="col-md-4">
          {% block content_right %}
          {% endblock content_right %}
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
    <script src="{% static 'users/js/users.js' %}"></script>
    <script src="{% static 'dashboard/js/dashboard.js' %}"></script>
    <script src="{% static 'estaciones/js/estaciones.js' %}"></script>
    <script src="{% static 'partes/js/partes.js' %}"></script>
    <script src="{% static 'proyecciones/js/proyecciones.js' %}"></script>
    {% block extra_js %}
    {% endblock extra_js %}
  </body>
</html>
