<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{% block tilte_modal %}{% endblock tilte_modal %}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      {% block body_modal %}
      {% endblock body_modal %}
    </div>
  </div>
</div>

<script>
$(function () {
  var success_url = window.location.href;
  var modal_body = $('.modal-body');
  var modal_load_error = 'ERROR! la informacion no fue cargada.';
  $('form').submit(function(event) {
    event.preventDefault();
    var data = new FormData(this);
    $.ajax({
      url : this.action,
      type: this.method,
      enctype: this.enctype,
      processData: false,
      contentType: false,
      cache: false,
      data: data,
      success: function (data) {
        if ( $(data).find('div.alert.alert-block.alert-danger').length > 0 || ( $(data).find('p.invalid-feedback').length > 0 )) {
          error_raise = $(data).find('div.alert.alert-block.alert-danger')
          error_field = $(data).find('p.invalid-feedback').attr('class', 'text-danger')
          modal_body.append(error_raise, error_field);
        } else {
          window.location.href = success_url;
        };
      },
      error: function () {
        modal_body.text(modal_load_error);
      },
      // params: {
      // 		'csrf_token': '{{ csrf_token }}',
      // 		'csrf_name': 'csrfmiddlewaretoken',
      // 		'csrf_xname': 'X-CSRFToken',
		  // },
    });
  });
})
</script>
