<tr class="clickable-row">
  <td>{{ object.id }}</td>
  <td>{{ object.parte }}</td>
  <td>{{ object.grupo_parte }}</td>
  <td{%if object.w14 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w14 }}</td>
  <td{%if object.w15 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w15 }}</td>
  <td{%if object.w16 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w16 }}</td>
  <td{%if object.w17 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w17 }}</td>
  <td{%if object.w18 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w18 }}</td>
  <td{%if object.w19 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w19 }}</td>
  <td{%if object.w20 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w20 }}</td>
  <td{%if object.w21 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w21 }}</td>
  <td{%if object.w22 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w22 }}</td>
  <td{%if object.w23 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w23 }}</td>
  <td{%if object.w24 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w24 }}</td>
  <td{%if object.w25 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w25 }}</td>
  <td{%if object.w26 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w26 }}</td>
  <td{%if object.w27 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w27 }}</td>
  <td{%if object.w28 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w28 }}</td>
  <td{%if object.w29 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w29 }}</td>
  <td{%if object.w30 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w30 }}</td>
  <td{%if object.w31 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w31 }}</td>
  <td{%if object.w32 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w32 }}</td>
  <td{%if object.w33 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w33 }}</td>
  <td{%if object.w34 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w34 }}</td>
  <td{%if object.w35 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w35 }}</td>
  <td{%if object.w36 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w36 }}</td>
  <td{%if object.w37 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w37 }}</td>
  <td{%if object.w38 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w38 }}</td>
  <td{%if object.w39 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w39 }}</td>
  <td{%if object.w40 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w40 }}</td>
  <td{%if object.w41 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w41 }}</td>
  <td{%if object.w42 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w42 }}</td>
  <td{%if object.w43 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w43 }}</td>
  <td{%if object.w44 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w44 }}</td>
  <td{%if object.w45 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w45 }}</td>
  <td{%if object.w46 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w46 }}</td>
  <td{%if object.w47 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w47 }}</td>
  <td{%if object.w48 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w48 }}</td>
  <td{%if object.w49 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w49 }}</td>
  <td{%if object.w50 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w50 }}</td>
  <td{%if object.w51 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w51 }}</td>
  <td{%if object.w52 < 0 %} class="bg-danger" {% else %} {% endif %}>{{ object.w52 }}</td>
</tr>
