{% if is_paginated %}

  <form class="form-inline" action="." method="get">
    <div class="form-group mb-3">
      <label>items por pagina</label>
      <div class="col-sm-1">
      <select class="form-control form-control-sm" name="paginate_by" onchange='if(this.value != 0) { this.form.submit(); }'>
          <option>{{ paginate_by }}</option>
          <option>15</option>
          <option>25</option>
          <option>50</option>
          <option>75</option>
          <option>100</option>
      </select>
      </div>
    </div>
  </form>

  <p class="mr-3">{{ page_obj.start_index }} a {{ page_obj.end_index }} de {{ page_obj.paginator.count }}</p>

  <nav aria-label="Page navigation">
  <ul class="pagination justify-content-left">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?qs={{ query }}&paginate_by={{ paginate_by }}&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
    {% endif %}

    {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?qs={{ query }}&paginate_by={{ paginate_by }}&page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
    {% endif %}
  </ul>
  </nav>

{% else %}

<form class="form-inline" action="." method="get">
  <div class="form-group mb-3">
    <label>items por pagina</label>
    <div class="col-sm-1">
    <select class="form-control form-control-sm" name="paginate_by" onchange='if(this.value != 0) { this.form.submit(); }'>
        <option>{{ paginate_by }}</option>
        <option>15</option>
        <option>25</option>
        <option>50</option>
        <option>75</option>
        <option>100</option>
    </select>
    </div>
  </div>
</form>

<p class="mr-3">{{ page_obj.start_index }} a {{ page_obj.end_index }} de {{ page_obj.paginator.count }}</p>

{% endif %}
