<nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a {% if request.resolver_match.url_name == 'admin' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="{% url 'admin:login' %}" target="blank">
                  <span data-feather="database"></span>
                  Admin <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a {% if request.resolver_match.url_name == 'dashboard' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="{% url 'dashboard:dashboard' %}">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a {% if request.resolver_match.url_name == 'list_estacion' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="{% url 'estaciones:list_estacion' %}">
                  <span data-feather="bar-chart-2"></span>
                  Estaciones
                </a>
              </li>
              <li class="nav-item">
                <a {% if request.resolver_match.url_name == 'list_parte' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="{% url 'partes:list_parte' %}">
                  <span data-feather="grid"></span>
                  Partes
                </a>
              </li>
              <li class="nav-item">
                <a {% if request.resolver_match.url_name == 'list_proyeccion' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="{% url 'proyecciones:list_proyeccion' %}">
                  <span data-feather="settings"></span>
                  Proyecciones
                </a>
              </li>
              <li class="nav-item">
                <a {% if request.resolver_match.url_name == 'list_hw_actividad' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="{% url 'hw_actividades:list_hw_actividad' %}">
                  <span data-feather="layers"></span>
                  HW Actividades
                </a>
              </li>
              <li class="nav-item">
                <a {% if request.resolver_match.url_name == 'list_consumo_nokia' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="{% url 'consumos:list_consumo_nokia' %}">
                  <span data-feather="package"></span>
                  Consumos Nokia
                </a>
              </li>
              <li class="nav-item">
                <a {% if request.resolver_match.url_name == 'list_consumo_claro' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="{% url 'consumos:list_consumo_claro' %}">
                  <span data-feather="package"></span>
                  Consumos Claro
                </a>
              </li>
              <li class="nav-item">
                <a {% if request.resolver_match.url_name == 'list_llegada' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="{% url 'llegadas:list_llegada' %}">
                  <span data-feather="truck"></span>
                  Llegadas
                </a>
              </li>
              <li class="nav-item">
                <a {% if request.resolver_match.url_name == 'list_llegada' %}class="nav-link active"{% else %}class="nav-link"{% endif %} href="{% url 'llegadas:list_llegada' %}">
                  <span data-feather="archive"></span>
                  existencias
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Crear reportes</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Partes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Modulos
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Accesorios
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Antenas y Otros
                </a>
              </li>
            </ul>
          </div>
        </nav>
