<tr>
  <td>Centro</td>
  {% for estacion in centro %}
  <td>{{ estacion }}</td>
  {% endfor %}
</tr>
<tr>
  <td>Costa</td>
  {% for estacion in costa %}
  <td>{{ estacion }}</td>
  {% endfor %}
</tr>
<tr>
  <td>Oriente</td>
  {% for estacion in oriente %}
  <td>{{ estacion }}</td>
  {% endfor %}
</tr>
<tr>
  <td>Nor Oriente</td>
  {% for estacion in nor_oriente %}
  <td>{{ estacion }}</td>
  {% endfor %}
</tr>
<tr>
  <td>Nor Occidente</td>
  {% for estacion in nor_occidente %}
  <td>{{ estacion }}</td>
  {% endfor %}
</tr>
<tr>
  <td>Sur Occidente</td>
  {% for estacion in sur_occidente %}
  <td>{{ estacion }}</td>
  {% endfor %}
</tr>
<tr>
  <td>Total</td>
  {% for estacion in total %}
  <td>{{ estacion }}</td>
  {% endfor %}
</tr>
