<tr>
  <td>Centro</td>
  {% for estacion in centro_web %}
  <td>{{ estacion }}</td>
  {% endfor %}
</tr>
<tr>
  <td>Costa</td>
  {% for estacion in costa_web  %}
  <td>{{ estacion }}</td>
  {% endfor %}
</tr>
<tr>
  <td>Oriente</td>
  {% for estacion in oriente_web  %}
  <td>{{ estacion }}</td>
  {% endfor %}
</tr>
<tr>
  <td>Nor Oriente</td>
  {% for estacion in nor_oriente_web  %}
  <td>{{ estacion }}</td>
  {% endfor %}
</tr>
<tr>
  <td>Nor Occidente</td>
  {% for estacion in nor_occidente_web  %}
  <td>{{ estacion }}</td>
  {% endfor %}
</tr>
<tr>
  <td>Sur Occidente</td>
  {% for estacion in sur_occidente_web  %}
  <td>{{ estacion }}</td>
  {% endfor %}
</tr>
<tr>
  <td>Total</td>
  {% for estacion in total_web  %}
  <td>{{ estacion }}</td>
  {% endfor %}
</tr>
