<tr class="clickable-row">
  <td>{{ object.id }}</td>
  <td>{{ object.site_name }}</td>
  <td>{{ object.region }}</td>
  <td>{{ object.ciudad }}</td>
  <td>{{ object.scope_claro }}</td>
  <td>{{ object.w_fc_sal }}</td>
  <td>{{ object.w_fc_imp }}</td>
  <td>{{ object.w_fc_c }}</td>
  <td>{{ object.total_actividades }}</td>
  <td>{{ object.estado_wr }}</td>
  <td>{{ object.mos }}</td>
  {% if object.bolsa %}
  <td>{{ object.bolsa }}</td>
  {% else %}
  <td>None</td>
  {% endif %}
  <td>{{ object.status_nokia }}</td>
  <td>{{ object.comunidades }}</td>
  <td>{{ object.satelital }}</td>
  <td>{{ object.impactar }}</td>
  {% if object.partes.all %}
  <td>
  {% for parte in object.partes.all %}
  {{ parte }}
  {% endfor %}
  </td>
  {% else %}
  <td>None</td>
  {% endif %}
</tr>
